aioboto3==9.5.0
aiobotocore==2.2.0
aiojobs==0.3.0
boto3==1.21.21
ddtrace==0.60.1
dominodatalab==1.0.7
fakeredis==1.7.1
flask==2.1.1
flask-cors==3.0.10
httpx==0.22.0
mandrill==1.0.60
moto==3.0.3
orjson==3.6.7
pandas==1.4.1
pre-commit==2.17.0
psycopg2-binary==2.9.3
pylint==2.13.4
pyodbc==4.0.32
pysmb==1.2.7
pytest==7.1.1
pytest-asyncio==0.18.3
pytest-cov==3.0.0
python-json-logger==2.0.2
redis==3.5.3
twine==4.0.0
wheel==0.37.1
