aioboto3==11.3.1
aiojobs==1.2.0
backoff==2.2.1
boto3==1.28.17
botocore==1.31.17
cython==3.0.5
ddtrace==1.11.2
dominodatalab==1.2.4
fakeredis==2.20.0
faust-cchardet==2.1.19
flask==2.1.2
flask-cors==3.0.10
haversine==2.8.0
httpx==0.25.1
mandrill==1.0.60
moto==3.1.18
openpyxl==3.0.10
orjson==3.8.10
pandas==2.1.3
polars==0.19.13
pre-commit==3.5.0
psycopg2-binary==2.9.9
pyarrow==13.0.0
pylint==3.0.2
pyodbc==4.0.39 --no-binary=pyodbc
pysmb==1.2.9.1
pyspark==3.4.1
pytest==7.4.3
pytest-asyncio==0.21.1
pytest-cov==4.1.0
python-json-logger==2.0.7
redis==5.0.1
twine==4.0.2
werkzeug==2.1.2
wheel==0.41.3
