aioboto3==8.2.1
aiobotocore==1.1.2
aiojobs==0.3.0
ddtrace==0.47.0
flask==1.1.2
git+https://github.com/aio-libs/aioredis@sean/aioredis-redis-py-compliance
httpx==0.17.0
mandrill==1.0.59
moto==1.3.16
orjson==3.5.1
pre-commit==2.11.1
psycopg2-binary==2.8.6
pylint==2.7.2
pyodbc==4.0.30
pysmb==1.2.6
pytest==6.2.2
pytest-asyncio==0.14.0
pytest-cov==2.11.1
python-json-logger==2.0.1
redis==3.5.3
twine==3.3.0
wheel==0.36.2
